<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-12">
                    <!-- form user info -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Escoger Componente</h4>
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="term">
                        </div>
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Nombre</th>
                                  <th scope="col">Repuestos buenos</th>
                                  <th scope="col">Repuestos malogrados</th>
                                  <th scope="col">Seleccionar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let repuesto of Repuestos | filter:term; let i = index;">
                                  <th scope="row">1</th>
                                  <td>{{repuesto.title}}</td>
                                  <td>4</td>
                                  <td>2</td>
                                  <td>  <input type="checkbox" class="btn btn-primary" [(ngModel)]="repuesto.checked" (change)="changeSelection()"></td>
                                </tr>

                              </tbody>
                            </table>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <input type="reset" class="btn btn-secondary" value="Cancelar">
                                        <input type="button" class="btn btn-primary" (click)="nombreRepuesto()" value="Seleccionar">
                                    </div>
                                </div>

                        </div>
                    </div>
                    <!-- /form user info -->
        </div>
    </div>
</div>


