<div class="container py-3">
	<div class="row">
		<div class="mx-auto col-sm-12">
			<!-- form user info -->
			<div class="card">
				<div class="card-header">
					<h4 class="mb-0">Equipos no asignados</h4>
				</div>
				<div class="card-body">
					<label style="background-color: #F0F0F0"><strong>Personal seleccionado:</strong> {{tecnico.Nombres}}</label>
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Equipo</th>
								<th scope="col">Ubicaci&oacute;n</th>
								<th scope="col">Problema</th>
								<th scope="col">Seleccionar</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let equipo of Equipos; let i = index;">
								<th scope="row">{{equipo.equipo}}</th>
								<td>{{equipo.ubicacion}}</td>
								<td>{{equipo.problema}}</td>
								<td>
									<input type="checkbox" class="btn btn-primary" [(ngModel)]="equipo.checked" (change)="changeSelection()">


                </td>
							</tr>

						</tbody>
					</table>
					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label"></label>
						<div class="col-lg-9">
							<input type="reset" class="btn btn-secondary" value="Atr&aacute;s" onclick="irAtras()">
							<input type="button" class="btn btn-primary" value="Asignar" (click)="asignarCarga()">
                                    </div>
						</div>

					</div>
				</div>
				<!-- /form user info -->
			</div>
		</div>
	</div>
