<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-12">
                    <!-- form user info -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Escoger Catalogo</h4>
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="term">
                        </div>
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Cod Cat&aacute;logo</th>
                                  <th scope="col">Categor&iacute;a</th>
                                  <th scope="col">Marca</th>
                                  <th scope="col">Modelo</th>
                                  <th scope="col">Descripci&oacute;n</th>
                                  <th scope="col">Seleccionar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let catalogo of Catalogos | filter:term; let i = index;">
                                 
                                  <td  scope="row">{{catalogo.codCatalogo}}</td>
                                  <td>{{catalogo.categoria}}</td>
                                   <td>{{catalogo.marca}}</td>
                                   <td>{{catalogo.modelo}}</td>
                                   <td>{{catalogo.descripcion}}</td>
                                  <td>  <input type="checkbox" class="btn btn-primary" [(ngModel)]="catalogo.checked" (change)="changeSelection()"></td>
                                </tr>
                                
                              </tbody>
                            </table>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <input type="reset" class="btn btn-secondary" value="Cancelar">
                                        <input type="button" class="btn btn-primary" (click)="nombreCatalogo()" value="Seleccionar">
                                    </div>
                                </div>
                          
                        </div>
                    </div>
                    <!-- /form user info -->
        </div>
    </div>
</div>


