<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-12">
                    <!-- form user info -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Listar Equipos</h4>
                             <button type="button" class="btn btn-success" style="float:right" (click)="agregarEquipo()">Agregar Equipo</button>
                        </div>
                        <div class="card-body">
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Codigo</th>
                                  <th scope="col">Patrimonio</th>
                                  <th scope="col">Descripcion</th>
                                  <th scope="col">Estado</th>
                                  <th scope="col">Ubicaci&oacute;n</th>
                                   <th scope="col">Eliminar</th>
                                   <th scope="col">Detalles</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let equipo of Equipos; let i = index;">
                                  <th scope="row">{{equipo.codEquipo}}</th>
                                  <td>{{equipo.patrimonio}}</td>
                                  <td>{{equipo.descripcion}}</td>
                                  <td>{{equipo.estado}}</td>
                                  <td>{{equipo.ubicacion}}</td>
                                  <td><button type="button" class="btn btn-warning" (click)="borrarEquipo(equipo)" >Eliminar</button></td>
                                  <td><button type="button" class="btn btn-outline-success" (click)="equipoDetalles(equipo)">ver detalles</button></td>
                                </tr>
                                
                              </tbody>
                            </table>

                          
                        </div>
                    </div>
                    <!-- /form user info -->
        </div>
    </div>
</div>

